<%= form_with model: session do |form| %>
    <div>
      <h4><%= form.label :title %><br><br></h4>
       <%= form.text_field :title %><br><br>
       <% session.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div><br>
        <% end %>
    </div>

    <div>
        <h4><%= form.label :date %><br><br></h4>
        <%= form.datetime_select :date, { ampm: true, order: [:day, :month, :year] }, { class: "form-control" }%><br><br><br>
        <% session.errors.full_messages_for(:date).each do |message| %>
            <div><%= message %></div><br><br>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>

    <br> 
    <div>
        <%= form.label :status %><br><br>
        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>
<% end %>

<ul>

<li><%= link_to "Back", root_path(@session) %></li>

</ul>